html, body {
    height: 100%;
    margin: 0px;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 42, 42);
    padding-bottom: 40px;
    color: rgb(232, 232, 232);
}

h1 {
    text-decoration: underline;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.indicator {
    font-size: larger;
    text-align: center;
    margin: 10px;
    border: solid 2px lightgreen;
    border-radius: 10%;
    background-color: rgb(218, 218, 218);
    flex: 1; 
    width: 35vw;
    height: 10vh;
    color: black;
}

.btn {
    border-radius: 10%;
    font-size: larger;
    padding: 5px;
    text-align: center;
    margin: 10px;
    border: solid 2px lightgreen;
    background-color: rgb(218, 218, 218);

}

.desc {
    margin-bottom: 1px;
    font-size: large;
}

footer {
    margin-top: 40px;
}